<style>
  /* Desktop search bar */
  .search-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
  }

  .btn-search {
    background-color: #f75963;
    color: #fff;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .btn-search:hover {
    background-color: #f75963;
  }

  /* ---------- MOBILE FIX ---------- */
  @media (max-width: 768px) {
    /* Remove absolute position */
    .search-wrapper {
      position: static;
      transform: none;
      width: 100%;
      margin: 10px 0;
    }

    .search-inp {
      width: 100%;
      margin-bottom: 10px;
      padding: 0.6rem 1rem;
      font-size: 1rem;
    }

    .btn-search {
      width: 100%;
      font-size: 1rem;
      padding: 0.6rem;
    }

    /* Center nav links on mobile */
    .navbar-nav {
      text-align: center;
      width: 100%;
    }

    .navbar-nav .nav-link {
      padding: 10px 0;
      font-size: 1.1rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search-wrapper d-none d-md-block">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search-inp" type="search" placeholder="Search destination" />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> Search
        </button>
      </form>
    </div>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>

        <li class="nav-item d-md-none">
          <!-- mobile-only search bar -->
          <div class="search-wrapper mt-2">
            <form class="d-flex flex-column" role="search">
              <input class="form-control search-inp" type="search" placeholder="Search destination" />
              <button class="btn btn-search mt-2" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i> Search
              </button>
            </form>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb Your Home</a>
        </li>

        <% if (!currUser) { %>
          <li class="nav-item"><a class="nav-link" href="/signup"><b>Signup</b></a></li>
          <li class="nav-item"><a class="nav-link" href="/login"><b>Login</b></a></li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/logout"><b>Logout</b></a></li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>
